<div class="row center-content" id="measure-partial">
    <form action="@Url.Action("Weight", "Body")" method="post">
        <div class="form-group">
            <div class="col-sm-12">
                <input name="BodyWeight" class="form-control input-validation-error text-box single-line" id="BodyWeight" type="text" value="" data-val="true" placeholder="Body Weight (kg)" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input class="btn btn-default accept" type="submit" value="Save" />
            </div>
        </div>
    </form>
</div>